@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap");

/* added some root styles for easy access */
/* is That okay? cams-?? */
:root {
  --sm: 1.5rem;
  --lg: 2.5rem;
  --xl: 3rem;
  --rounded: 8px;

  --gray-50: #fafcfc;
  --gray-100: #eaefef;
  --gray-200: #e0e5e5;
  --gray-300: #abb2b2;
  --gray-400: #7a8080;
  --gray-500: #2f3333;
  --gray-600: #0d0e0e;

  --accent-dark: #67605f;
  --accent-primary: #aa4d2e;
  --accent-3: #bc7f7c;
  --accent-4: #ddcdc5;

  --edit: #3db2ff;
  --success: #9df2b0;
  --error: #ff3636;
  --error-light: #ff5555;
  --warning: #ffb900;
  --warning-dark: #d69b00;

  --font-light: thin;
  --font-medium: 300;
  --font-regular: normal;
  --font-semi: 500;
  --font-bold: 600;
  --font-xl: bold;
}

h1 {
  font-size: 48px;
  line-height: 32px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 24px;
}

.sm {
  height: var(--sm);
  width: var(--sm);
}

.lg {
  height: var(--lg);
  width: var(--lg);
}

.xl {
  height: var(--xl);
  width: var(--xl);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

button {
  font-family: "Montserrat", sans-serif;
}

h2 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  display: inline;
}

.container {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 56px;
}

.wrapper-90 {
  width: 90%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.content {
  margin-top: 72px;
  margin-bottom: 72px;
}

.columns {
  display: flex;
  justify-content: space-between;
  gap: 58px;
}

.wrapper-form {
  max-width: 496px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.wrapper-form-landing {
  min-height: 496px;
  width: 50%;
  box-sizing: border-box;
  position: relative;
}

.inputLabel {
  color: #7a8080;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 12px;
}

.input {
  width: 100%;
  padding: 20px 16px;
  border-radius: 8px;
  background-color: #fafcfc;
  border: 2px solid #e0e5e5;
  color: #0d0e0e;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 32px;
  box-sizing: border-box;
}

.input:focus {
  outline: 1px solid #bc7f7c;
  border: 1px solid #bc7f7c;
}

.input:focus-visible {
  border: 2px solid #bc7f7c;
}

.input:placeholder {
  color: #7a8080;
}

.checkbox__regularContainer {
  width: 100%;
  margin-bottom: 30px;
}

.checkbox__privacy p {
  position: relative;
  top: 12px;
}

.checkbox__regularLabel {
  display: flex;
  align-items: center;
  /* align-self: flex-start; */
  color: #0d0e0e;
  font-size: 18px;
  line-height: 25px;
  width: 100%;
}

.checkbox__regularLabel p {
  padding-left: 16px;
  width: 100%;
}

.checkbox__regularLabel img {
  margin-right: 20px;
  min-width: 32px !important;
}

.checkbox__regularCheckbox {
  display: none;
}

.auth__header {
  text-align: center;
  color: #0d0e0e;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
}

.auth__divider {
  display: flex;
}

.auth__divider p {
  color: #abb2b2;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  margin-left: 16px;
  margin-right: 16px;
}

.auth__dividerLeft,
.auth__dividerRight {
  border-bottom: 1px solid #e0e5e5;
  width: 100%;
  position: relative;
  bottom: 18px;
}

.auth__inputContainer {
  width: 100%;
}

.auth__input {
  padding-left: 56px;
}

.auth__inputIcon {
  position: relative;
  top: 46px;
  left: 23px;
  width: 20px;
}

.auth__redirect {
  text-align: center;
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #0d0e0e;
  margin-top: 32px;
}

.auth__redirect a {
  text-decoration: none;
  padding-left: 5px;
}

.landing__header {
  font-weight: 700;

  color: #67605f;
}

.landing__header h2:not(:last-child) {
  margin-bottom: 16px;
}

.landing__header h2 {
  font-size: 40px;
  line-height: 60px;
}

.landing__content {
  margin-top: 32px;
  color: #7a8080;
  font-size: 20px;
  line-height: 36px;
}

.landing__CTA {
  max-width: 496px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
}

.onboarding__header {
  width: 100%;
  max-width: 236px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}

.onboarding__mainImage {
  position: relative;
  margin-top: 48px;
  width: 100%;
  max-width: 290px;
  height: 256px;
  margin-left: auto;
  margin-right: auto;
}

.onboarding__mainBackground {
  position: absolute;
  z-index: -1000;
}

.onboarding__mainForeground {
  position: absolute;
  z-index: 100;
}

.onboarding__content {
  text-align: center;
}

.onboarding__content h1 {
  color: #67605f;
  font-size: 32px;
  line-height: 48px;
}

.onboarding__content p {
  color: #7a8080;
  font-size: 20px;
  line-height: 34px;
}

.onboarding__circleLinks {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  height: 32px;
  gap: 12px;
}

.circle-link {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  /* padding: 4px; */
}

.circle-active {
  border: 2px solid #bc7f7c;
}

.circle-inactive {
  border: 2px solid #e0e5e5;
}

.circle-inside {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin: 4px;
}

.circle-inside-active {
  background-color: #bc7f7c;
}

.onboarding__buttons {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.button {
  text-decoration: none;
}

.button__brown {
  border: none;
  border-radius: 8px;
  background-color: #aa4d2e;
  box-shadow: -4px 4px 25px -6px rgba(120, 72, 56, 0.15);
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #ffffff;
  display: block;
  white-space: nowrap;
  box-sizing: border-box;
}

.button__grey {
  background-color: #fafcfc;
  border: 2px solid #e0e5e5;
  box-sizing: border-box;
  border-radius: 8px;
  color: #abb2b2;
  font-weight: 500;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: 0.02em;
}

.button__google {
  margin-top: 32px;
  margin-bottom: 24px;
  background-color: transparent;
  display: flex;
  max-width: 250px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #3c79e6;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  color: #3c79e6;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  padding-top: 21px;
  padding-bottom: 21px;
  cursor: pointer;
  box-sizing: border-box;
  letter-spacing: 0.02em;
}

.button__brownSubmit {
  border: none;
  background-color: #aa4d2e;
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: 0.02em;
  border-radius: 8px;
  cursor: pointer;
  white-space: nowrap;
}

.error__header {
  padding: 18px;
  background-color: #ff3636;
  color: #ffffff;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  border-radius: 8px 8px 0px 0px;
  box-sizing: border-box;
  margin-top: 40px;
}

.error__content {
  border-radius: 0px 0px 8px 8px;
  min-height: 45px;
  background-color: #ffcfcf;
  border: 2px solid #ff3636;
  padding: 16px;
  color: #0d0e0e;
  font-size: 20px;
  line-height: 34px;
  margin-bottom: 40px;
}

.error__header img {
  cursor: pointer;
}

.error-active {
  display: block;
}

.error-hidden {
  display: none;
}

.header,
.footer {
  height: 80px;
  background-color: #f2ece9;
}

.footer {
  margin-top: 96px;
  padding: 31px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #67605f;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__logo {
  padding-top: 20px;
}

.header__navbar {
  margin-top: 15px;
}

.header__navbar a {
  text-decoration: none;
  color: #aa4d2e;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  padding: 15px 34px;
  border-radius: 8px;
  border: 2px solid #aa4d2e;
}

.banner {
  min-height: 80px;
  background-color: #bc7f7c;
  padding: 30px;
  text-align: center;
}

.banner p {
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
}

.banner__active {
  display: block;
}

.banner__inactive {
  display: none;
}

.main-nav {
  display: flex;
  align-items: center;
  gap: 32px;
  position: relative;
  top: 5px;
}

.main-nav a {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #67605f;
}

.main-nav a.nav__active {
  font-weight: 600;
  color: #aa4d2e;
}

.main-nav__container {
  position: relative;
}

.nav__underline {
  width: 100%;
  height: 3px;
  background-color: #aa4d2e;
  position: absolute;
  top: 47px;
  border-radius: 8px;
}

.main-nav__dropdownArrowActive {
  cursor: pointer;
  position: relative;
  bottom: 3px;
  width: 15px;
  height: 15px;
}

.main-nav__dropdownArrowInactive {
  opacity: 0;
  position: relative;
  width: 15px;
  margin-right: -32px;
}

.dropdown {
  position: absolute;
  width: 180px;
  top: 25px;
  right: -4px;
  z-index: 1000;
}

.dropdown__icon {
  margin-left: auto;
  height: 20px;
  width: 24px;
}

.dropdown__container {
  width: 100%;
  border: 1px solid #bc7f7c;
  box-sizing: border-box;
  box-shadow: 0px 0px 50px rgba(103, 96, 95, 0.1);
  border-radius: 8px 0px 8px 8px;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #ffffff;
}

.dropdown__container button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.dropdown__container a,
.dropdown__container button {
  cursor: pointer;
  margin-left: 24px;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: #67605f;
}

.dropdown__container div:not(:last-child) {
  border-bottom: 1px solid #e0e5e5;
  padding-bottom: 16px;
}

.dropdown__container div:not(:first-child) {
  padding-top: 16px;
}

.main-nav__dropdownActive {
  display: block;
}

.main-nav__dropdownInactive {
  display: none;
}

.stepper {
  border: 2px solid #bc7f7c;
  width: 100%;
  max-width: 676px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  display: flex;
}

.stepper__one {
  padding: 16px 24px;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #abb2b2;
}

.stepper__one img {
  padding-bottom: 24px !important;
}

.stepper__one p:not(:last-child) {
  text-transform: uppercase;
  padding-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.stepper__one p:not(:first-child) {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.stepper__onePast {
  color: #bc7f7c;
}

.stepper__oneCurrent {
  color: #ffffff;
  background-color: #bc7f7c;
}

.stepper__oneCurrent p:last-child {
  font-weight: 600;
}

.stepper__oneFuture {
  color: #abb2b2;
}

.section__header {
  margin-top: 96px;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #67605f;
  margin-bottom: 32px;
}

.input__regularLabel {
  margin-bottom: 12px;
  display: block;
}

.event_layout,
.event_container,
.event_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event_container {
  max-width: 800px;
}

.event_content img {
  width: 800px;
}

.event_content h1 {
  text-align: center;
  color: #67605f;
  font-weight: 900;
  font-size: 50px;
}

.event_content > p {
  display: flex;
  margin-bottom: 20px;

  min-height: 200px;
  min-width: 200px;
  justify-content: center;
  align-items: center;
}

.dashboard_page {
  padding: 0 93.5px 0 93.5px;
}

.progress_bar_container {
  border: solid 1px black;
}

progress[value] {
  -webkit-appearance: none;
  height: 15px;
  padding: 1px;
  border-radius: 25px;
  width: 300px;
}

.dashboard_head {
  display: flex;
  align-items: center;
  min-height: 200px;
  justify-content: space-around;
  color: var(--accent-dark);
}

.dashboard_event_list {
  display: flex;
  flex-flow: row wrap;
}

.event_card {
  max-width: 512px;
  margin: 20px;
  background-color: var(--gray-50);
  border-radius: var(--rounded);
  overflow: hidden;
  font-weight: bold;
  font-family: "Montserrat";
}

.event_card_content {
  padding-left: 37px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.event_card_content div {
  display: flex;
  align-items: center;
  text-align: center;
}

.event_card_img {
  width: 100%;
  height: 208px;
  position: relative;
  border-radius: var(--rounded);
}

.event_card svg {
  margin-right: 5px;
}

.event_card .event_card_img > img {
  border-radius: var(--rounded);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
